.textColor{
    color: chocolate;
}
.textSize{
    font-size: 200px;
}
.myGroup{
    color:red;
}
.textFont{
    text-align: center;
}
.login{
    background-color: aqua;
    color: blueviolet;
}
.logout{
    background-color: chartreuse;
    color: blue;
}
.isIt{
    color: orange;
    justify-content: baseline;
}
