<p>string-interpolation works!</p>
<h3><i>My name is {{fullname}}</i></h3>
<p>Name length is {{fullname.length}}</p>
<span>Uppercase of name is {{fullname.toUpperCase()}}</span><br>
<b>Student name is {{stud["fname"]}}</b>
<!-- <p>Students are {{stud.fname}}</p>
<p>Age {{stud.age>10}}</p> -->
<h4>{{2+1+55*1-2}}</h4>
<!-- <h5>{{stud.age+10}}</h5> -->
<h5>{{x==20}}</h5>



<h5>{{stud | json}}</h5>
<h5>{{stud[0].age}}</h5>

<!-- <h1>{{stud.dop ? stud.dop:'No Dop is available'}}</h1> -->
<img id="p1"src={{imgUrl}}>
<img id="paint" src={{url}}><br>
<img id ="p2" src={{URL}}>
<input type="file">

<p>This method name is : {{getMyMeth()}}</p>

