<app-login></app-login>
<h3 [align]="'center'">Course Details</h3>

<!-- <p *ngFor="let course of details">
    {{course.id}} -- {{course.name}} -- {{course.fee}}
</p> -->

<!-- <input type="text" #data1 (keyup)="getCode2(data1.value)">

<span *ngFor="let e of c1">
    <ul>
        <li>{{e}}</li>
    </ul>
</span> -->

<!-- <div [align]="'center'">
    <ul>
        <a href="javascript:void(0)" *ngFor="let x of courses" [class.selected]="selected(x)" (click)="onSelectedCourse(x)">
            {{x.id+"."}}{{x.name}}--{{x.fee}}
            <br><br><hr>
        </a>
    </ul>
</div> -->

<!-- <p [align]="'center'"><button mat-raised-button color="warn" (click)="toHome()">Main Menu</button></p> -->