<!-- <h1>India Won the world cup after 12 years</h1> -->
<!-- <app-home></app-home> -->
<!-- <div id="app-home"></div> -->
<!-- <div app-home></div>
<div class="app-string-interpolation"></div> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-two-way-template></app-two-way-template> -->
<!-- <app-directives></app-directives> -->
<!-- <app-parent></app-parent> -->
<!-- <app-child></app-child> -->
<!-- <app-course-details></app-course-details> -->
<!-- <app-rest-countries></app-rest-countries> -->
<router-outlet></router-outlet>