

<ul>
    <li>
        <a routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li>
        <a routerLink="/courses" routerLinkActive="active">Courses</a>
    </li>
    <li>
        <a routerLink="/course-details" routerLinkActive="active">Course Details</a>
    </li>
    <li>
        <a routerLink="/reactive-forms" routerLinkActive="active">Reactive Forms</a>
    </li>
    <li>
        <a routerLink="/tdf" routerLinkActive="active">Template Driven Forms</a>
    </li>
    <li>
        <a routerLink="/promises" routerLinkActive="active">Promises</a>
    </li>
</ul>
