<p>style-binding works!</p>
<h3 [style]="{color: cdg}">Heading</h3>
<!-- <h2 [style]="{color}">Coding Man</h2> -->
<h3 [style]="myStyling">CODING NINJA</h3>
<h3 [style.color]="myColor">Code Hacker</h3>
<h3 [style.fontSize]="myFont">Hacker eh Hacker bhai</h3> 
<h3 [style.fontStyle]="'italic'">Coding India</h3>
<h3 [style.fontStyle]="isRequired?'italic':'normal'">Hey I am Coder</h3>
<h3 [style.fontSize]="isRequired?'70px':'20px'">Hey I am Coder</h3>
<h3 [ngStyle]="myObjectGroup">Hacker Coder</h3>
